/*POR IMPORTAR...*/

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;500;700&display=swap');
@font-face {
    font-family: titles;
    src: url(/src/style/Gloss_And_Bloom.ttf);
}

@font-face {
    font-family: logo;
    src: url(/src/style/Erstwhile_DEMO.otf);
}

@font-face {
    font-family: featured;
    src: url(/src/style/Aceituna_DEMO.otf);
}


/*ESTILOS ETIQUETAS*/

/*a{
    font-family: 'Advent Pro Medium', sans-serif;
    color: #5E2B43;

}*/

body {
    background-color: #F3D8CD;
    margin: unset;
}

footer {
    padding: unset;
}

/*ESTILOS PARA ID*/

/*ESTILO POR CLASE*/

.navbar-color .navbar-brand:hover {
    color: white;
}

.navbar-color .navbar-brand {
    font-family: logo;
    color: #F0637A;
    font-size: x-large !important;
}

.navbar-color {
    background-color: #F3D8CD;
}


.navbar-links {
    background-color: #F1AFA9;
    /* height: 1rem; */
    flex-grow: unset;
    font-family: 'Advent Pro Medium', sans-serif;
    font-weight: bolder;
}

.navbar-links .nav-link {
    padding: unset;
    color: #5E2B43 ! important;
}

.navbar-links form {
    height: 100%;
}

.form-margin{
    margin: unset;
}


.navbar-links button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-brand-container {
    justify-content: space-evenly;

}

.pink-button {
    color: white;
    background-color: #F0637A;
    border: unset;
    border-radius: unset;
    font-family: 'Advent Pro Medium', sans-serif;
}

.pink-button:hover{
    background-color: white;
    color: #F0637A;
}


.white-button {
    color: #F0637A;
    background-color: white;
    border-color: #F0637A;
    border-radius: unset;
    font-family: 'Advent Pro Medium', sans-serif;;
}

.white-button:hover{
    background-color: #F0637A;
    color: white;
}

.no-border {
    border: unset;
    border-radius: unset;
}

.dropdown-menu {
    background-color: #F3F0E8;
}

.dropdown-item {
    color: #5E2B43;
}

.normal-link {
    margin: 1rem;
    color: #F0637A !important;
    padding: unset;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
    font-family: 'Advent Pro Medium', sans-serif;
    font-weight: bold !important;
    background-color: unset;
    flex-grow: unset;
    min-width: 2rem;
}


.Jumbotron-main-format{
    background-color: #F3F0E8;
    padding-top: 1.5rem;
    padding-bottom: 1rem;

}

.Jumbotron2-main-format{
    background-color: #F1AFA9;
    padding-top: 1.5rem;
    padding-bottom: 1rem;

}

.Jumbotron3-main-format{
    background-color: #F3F0E8;
    padding-top: 1.5rem;
    padding-bottom: 1rem;

}

.Jumbotron-title-format{
 font-family: titles;
 color: #F0637A;
 text-align: center;
 margin-bottom: 2rem;
}

.Jumbotron2-title-format{
    font-family: logo;
    color: #F3F0E8;
    text-align: center;
    margin-bottom: 2rem;
   }
   
.Jumbotron3-title-format{
 font-family: logo;
 color: #F0637A;
 text-align: center;
 margin-bottom: 2rem;
}
.Jumbotron-lead-text{
    font-family: featured;    
}






.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-horizontal {
    display: flex;
    justify-content: center;
}

.audio-controls {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    color: white;
    width: 100%;
}

.normal-text{
    color: #5E2B43;
    font-family: 'Advent Pro Light', sans-serif;
}

.icon-spacing-cart{
    margin-left: 2px;
    color: #F0637A;
}

.icon-color{
    /* margin-left: 2px; */
    color: #F0637A;
}

.icon-eye-spacing{
    margin-right: 1rem;
}

